.location-container {
  display: flex;
  flex-shrink: 1;
  background: #00ccbc;
  height: 20vh;
  align-items: center;
  justify-content: space-between;
}

.location-label {
  font-family: "IBM Plex Sans";
  font-weight: 700;
  color: #004741;
  margin-left: 10vh;
}

.location {
  color: white;
  font-size: 32px;
  margin-left: 10vh;
}

.change-location-button {
  margin-right: 10vh;
  font-family: "IBM Plex Sans";
  background: white;
  color: #00ccbc;
  display: block;
  box-sizing: border-box;
  height: 48px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}
