.top-bar {
  margin: 0 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  font-family: "IBM Plex Sans";
  height: 7vh;
  flex-shrink: 1;
}

.user {
  width: 100px;
  display: flex;
  flex-shrink: 1;
  align-items: center;
  justify-content: space-between;
}

.location-container {
  display: flex;
  flex-shrink: 1;
  background: #00ccbc;
  height: 20vh;
  align-items: center;
  justify-content: space-between;
}

.location-label {
  font-family: "IBM Plex Sans";
  font-weight: 700;
  color: #004741;
  margin-left: 10vh;
}

.location {
  color: white;
  font-size: 32px;
  margin-left: 10vh;
}

.change-location-button {
  margin-right: 10vh;
  font-family: "IBM Plex Sans";
  background: white;
  color: #00ccbc;
  display: block;
  box-sizing: border-box;
  height: 48px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.restaurant-number {
  font-family: "IBM Plex Sans";
  margin: 3vh 10vh;
  opacity: 0.5;
}

.restaurant-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 10vh;
  flex-shrink: 1;
}

.restaurant {
  width: 360px;
  margin-bottom: 5vh;
}

.retaurant-details {
  font-family: "IBM Plex Sans";
  font-weight: 500;
  margin-top: 2px;
  font-size: 14px;
  opacity: 0.5;
}

@media only screen and (max-width: 1026px) {
  .user-name {
    display: none;
  }
  .user {
    justify-content: flex-end;
  }
}
